<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * menu
 *Create an admin menu
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Lumav_DaireStudyMagetop::helloworld_menu" title="Magetop Helloworld" module="Lumav_DaireStudyMagetop" sortOrder="20" resource="Lumav_DaireStudyMagetop::helloworld" />
        <add id="Lumav_DaireStudyMagetop::posts_menu" title="Magetop Helloworld" module="Lumav_DaireStudyMagetop" sortOrder="1" parent="Lumav_DaireStudyMagetop::helloworld_menu" action="helloworld/posts/index" resource="Lumav_DaireStudyMagetop::posts" />
    </menu>
</config>