<?xml version="1.0"?>
<!--
  ~ Copyright © Lumav Commerce OÜ. All rights reserved.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="lumav_benefit_bar_graphql" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Benefit Bar</label>
            <tab>lumav</tab>
            <resource>Lumav_OccoBenefitBarGraphQl::configuration</resource>
            <group id="general" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>

                <field id="benefit1" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Benefit</label>
                </field>

                <field id="benefit2" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Benefit</label>
                </field>

                <field id="benefit3" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Benefit</label>
                </field>

                <field id="benefit4" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Benefit</label>
                </field>
            </group>
        </section>
    </system>
</config>
