<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * events
 * Catch event is very important because some time you have to custom data or action from core Magento.
 If you want to catch the event in the backend, you can create the following path:
  Magetop/Helloworld/etc/backend/events.xml.

You can also create the following path:
 Magetop/Helloworld/etc/events.xml if you want to use it in both frontend and backend environments.
 * 
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="magetop_hello_display_text_before">
        <observer name="mb_show_text" instance="Lumav\DaireStudyMagetop\Observer\DisplayText" />
    </event>
</config>