<?xml version="1.0"?>
<!--
/**
 * Copyright © Lumav Commerce OÜ. All rights reserved.
 */
 -->
 <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<type name="Lumav\Home4YouFtpProductUpdater\Logger\Info">
        <arguments>
            <argument name="ftpProductUpdater_info" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Lumav\Home4YouFtpProductUpdater\Logger\Debug">
        <arguments>
            <argument name="ftpProductUpdater_debug" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Lumav\Home4YouFtpProductUpdater\Logger\Error">
        <arguments>
            <argument name="ftpProductUpdater_error" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Lumav\Home4YouFtpProductUpdater\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">ftpProductUpdaterLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="info" xsi:type="object">Lumav\Home4YouFtpProductUpdater\Logger\Info</item>
                <item name="debug" xsi:type="object">Lumav\Home4YouFtpProductUpdater\Logger\Debug</item>
                <item name="error" xsi:type="object">Lumav\Home4YouFtpProductUpdater\Logger\Error</item>
            </argument>
        </arguments>
    </type>
     
</config>